@{
    ViewData["Title"] = "Account information";
}

@model AccountViewModel


<div class="container-fluid">
    <div class="row">
        <div class="col" style="text-align:left">
            Left colum
        </div>
        <div class="col userbox" style="text-align:center">
            <div>
                <h1>Hack Check</h1>
                <h2>Account Information</h2>
            </div>

            <br />

            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="form-group">
                <span class="text-info">Email</span>
                <input asp-for="Email" class="form-control" readonly>
            </div>

            <div class="form-group">
                <span class="text-info">Username</span>
                <input asp-for="Username" class="form-control" readonly>
            </div>

            <div class="form-group">
                <a asp-action="ChangePassword" asp-controller="Home">Change Password</a>
                <a asp-action="ChangeUsername" asp-controller="Home">Change Username</a>
            </div>
        </div>
        <div class="col" style="text-align:right">
            Right colum
        </div>
    </div>
</div>
