@{
    ViewData["Title"] = "Create a account for Hack Check";
}

@model CreateAccountViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col" style="text-align:left">
            Left colum
        </div>
        <div class="col userbox" style="text-align:center">
            <form asp-action="CreateNewAccount" asp-controller="Home">
                <h1>Hack Check</h1>
                <h2>Create a account</h2>
                <br />
                <input type="text" name="Username" asp-for="Username" placeholder="Your username" required />
                <input type="email" name="Email" asp-for="Email" placeholder="Your email adress" required />
                <input type="password" name="Password" asp-for="Password" placeholder="Your password" required />
                <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" placeholder="Confirm password" required />
                <br />
                <br />
                <input type="submit" value="Create your account" class="btn-success" />
                <br />
                <br />
            </form>
        </div>
        <div class="col" style="text-align:right">
            Right colum
        </div>
    </div>
</div>


