@{
    ViewData["Title"] = "Login to Hack Check";
}

<div class="container-fluid">
    <div class="row">
        <div class="col" style="text-align:left">
            left colm
        </div>
        <div class="col userbox" style="text-align:center">
            <form>
                <h1>Hack Check</h1><br />
                <br />
                <input type="text" id="login" name="login" placeholder="Username" required><br />
                <input type="password" id="password" name="login" placeholder="Password" required><br />
                <input type="submit" value="Log In"> <br />
                <br />
                <a href="#">Forgot password?</a> <a asp-action="CreateAccount" asp-controller="Home">Don't have a account?</a> <br />
                <br />
            </form>
        </div>

        <div class="col" style="text-align:right">
            right colum
        </div>
    </div>
</div>
